* {
    box-sizing: border-box;
}

body {
    font-family: Bitter;
    background: hsl(220, 50%, 95%);
    margin: 0;
    overflow: hidden;
}

kbd {
    font: inherit;
    text-decoration: underline;
}

input, textarea, button, select {
    font: inherit;
    border: 1px solid black;
    background: white;
}

    input:focus, textarea:focus, select:focus {
        background: hsl(220, 90%, 95%);
        outline: none;
    }

input[type='text'], textarea, select {
    width: 100%;
}

textarea {
    resize: vertical;
    height: 3cm;
}

th, td {
    vertical-align: top;
}

.nowrap {
    white-space: nowrap;
}

#topbar {
    background: hsl(220, 70%, 80%);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 8vh;
    box-sizing: border-box;
}

    #topbar .title {
        font-size: 4.1vh;
        font-weight: bold;
        text-align: center;
    }

    #topbar .author {
        font-size: 2vh;
        text-align: center;
    }

.puzzle {
    position: absolute;
    top: 8vh;
    left: 0;
    right: 0;
    bottom: 0;
}

.puzzle-container {
    touch-action: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 38vw;
    bottom: 0;
}

svg.puzzle-svg {
    user-select: none;
    width: 100%;
    height: 100%;
}

    svg.puzzle-svg * {
        pointer-events: none;
        touch-action: none;
    }

    svg.puzzle-svg .clickable {
        pointer-events: all;
    }

    svg.puzzle-svg .cell rect {
        fill: white;
    }

    svg.puzzle-svg .cell.highlighted rect {
        fill: hsl(0, 0%, 50%);
    }

    /*##*/
    svg.puzzle-svg .cell.c0 rect, svg.puzzle-svg .cell path.c0 {
        fill: hsl(0, 80%, 80%);
    }

    svg.puzzle-svg .cell.highlighted.c0 rect, svg.puzzle-svg .cell.highlighted path.c0 {
        fill: hsl(0, 50%, 40%);
    }

    svg.puzzle-svg .cell.c1 rect, svg.puzzle-svg .cell path.c1 {
        fill: hsl(30, 80%, 80%);
    }

    svg.puzzle-svg .cell.highlighted.c1 rect, svg.puzzle-svg .cell.highlighted path.c1 {
        fill: hsl(30, 50%, 40%);
    }

    svg.puzzle-svg .cell.c2 rect, svg.puzzle-svg .cell path.c2 {
        fill: hsl(60, 80%, 80%);
    }

    svg.puzzle-svg .cell.highlighted.c2 rect, svg.puzzle-svg .cell.highlighted path.c2 {
        fill: hsl(60, 50%, 40%);
    }

    svg.puzzle-svg .cell.c3 rect, svg.puzzle-svg .cell path.c3 {
        fill: hsl(120, 80%, 80%);
    }

    svg.puzzle-svg .cell.highlighted.c3 rect, svg.puzzle-svg .cell.highlighted path.c3 {
        fill: hsl(120, 50%, 40%);
    }

    svg.puzzle-svg .cell.c4 rect, svg.puzzle-svg .cell path.c4 {
        fill: hsl(180, 80%, 80%);
    }

    svg.puzzle-svg .cell.highlighted.c4 rect, svg.puzzle-svg .cell.highlighted path.c4 {
        fill: hsl(180, 50%, 40%);
    }

    svg.puzzle-svg .cell.c5 rect, svg.puzzle-svg .cell path.c5 {
        fill: hsl(210, 80%, 80%);
    }

    svg.puzzle-svg .cell.highlighted.c5 rect, svg.puzzle-svg .cell.highlighted path.c5 {
        fill: hsl(210, 50%, 40%);
    }

    svg.puzzle-svg .cell.c6 rect, svg.puzzle-svg .cell path.c6 {
        fill: hsl(240, 80%, 80%);
    }

    svg.puzzle-svg .cell.highlighted.c6 rect, svg.puzzle-svg .cell.highlighted path.c6 {
        fill: hsl(240, 50%, 40%);
    }

    svg.puzzle-svg .cell.c7 rect, svg.puzzle-svg .cell path.c7 {
        fill: hsl(280, 80%, 80%);
    }

    svg.puzzle-svg .cell.highlighted.c7 rect, svg.puzzle-svg .cell.highlighted path.c7 {
        fill: hsl(280, 50%, 40%);
    }

    svg.puzzle-svg .cell.c8 rect, svg.puzzle-svg .cell path.c8 {
        fill: hsl(310, 80%, 80%);
    }

    svg.puzzle-svg .cell.highlighted.c8 rect, svg.puzzle-svg .cell.highlighted path.c8 {
        fill: hsl(310, 50%, 40%);
    }
    /*###*/

    svg.puzzle-svg .cell.highlighted text {
        fill: white;
    }

    svg.puzzle-svg .cell.invalid rect {
        fill: #f00;
    }

    svg.puzzle-svg .cell.highlighted.invalid rect {
        fill: #800;
    }

    svg.puzzle-svg .cell .notation {
        fill: #1d6ae5;
    }

    svg.puzzle-svg .cell.highlighted .notation {
        fill: white;
    }

    svg.puzzle-svg .frame.invalid {
        opacity: 1;
        stroke: #f00;
    }

    svg.puzzle-svg .frame.solved {
        opacity: 1;
        stroke: #0f0;
    }

    svg.puzzle-svg .frame {
        opacity: 0;
    }

    svg.puzzle-svg .button > rect.clickable {
        fill: white;
        stroke: black;
    }

    svg.puzzle-svg .button > text.label {
        fill: black;
    }

    svg.puzzle-svg .button.success > rect.clickable {
        fill: #b8f9bd;
    }

    svg.puzzle-svg .button.selected > rect.clickable {
        fill: hsl(212, 80%, 50%);
    }

    svg.puzzle-svg .button.warning > rect.clickable {
        fill: hsl(0, 80%, 40%);
    }

    svg.puzzle-svg .button.selected > text.label, svg.puzzle-svg .button.warning > text.label {
        fill: white;
    }

    svg.puzzle-svg .button:not(.selected):not(.warning):hover > rect.clickable {
        fill: hsl(212, 90%, 90%);
    }

    svg.puzzle-svg .button rect.color {
        opacity: 0;
    }

    svg.puzzle-svg .edge-cell {
        fill: transparent;
        stroke: none;
    }

    svg.puzzle-svg .frame.invalid {
        opacity: 1;
        stroke: #f00;
    }

.puzzle.solved {
    background: hsl(115, 50%, 40%);
}

    .puzzle.solved svg .frame {
        opacity: 1;
        stroke: #0f0;
    }

.puzzle.mode-color svg .button rect.color {
    opacity: 1;
}

.sidebar {
    display: block;
    position: absolute;
    top: 0;
    left: 62vw;
    bottom: 0;
    right: 0;
    overflow: auto;
}

    .sidebar .sidebar-content {
        padding: .5cm .5cm 1cm .5cm;
    }

    .sidebar .rules {
        margin: 2cm 0 0;
        padding: 1cm .5cm .5cm 1cm;
        border: 2px solid black;
        border-radius: .5cm;
        background: white;
        position: relative;
    }

        .sidebar .rules #rules-text {
            white-space: pre-wrap;
            overflow: auto;
            padding-right: .5cm;
            font-size: 18pt;
        }

            .sidebar .rules #rules-text p {
                margin: 0 0 .5cm 0;
            }

        .sidebar .rules::before {
            content: 'RULES';
            display: block;
            font-size: 48pt;
            font-weight: bold;
            text-align: center;
            position: absolute;
            bottom: 100%;
            line-height: .7;
            left: 1cm;
            color: black;
        }

    .sidebar .options {
        margin-top: 1cm;
        font-size: 18pt;
    }

.puzzle-container, .sidebar {
    outline: none;
}

    .puzzle:not(.solved) .puzzle-container:focus, .sidebar:focus {
        background: hsl(220, 50%, 90%);
    }

.puzzle.sidebar-off .sidebar {
    display: none;
}

.puzzle.sidebar-off .puzzle-container {
    right: 0;
}

/*
 *      ╔════════════════════════════╗
 *      ║                            ║
 *      ║     E D I T    P A G E     ║
 *      ║                            ║
 *      ╚════════════════════════════╝
 */

.puzzle .multi-select {
    opacity: 0;
    pointer-events: all;
    stroke-width: .145;
    stroke: none;
}
    .puzzle .multi-select:hover {
        opacity: 1;
    }

.sidebar .tabs {
    white-space: nowrap;
    position: absolute;
    left: .2cm;
    right: 0;
    top: 0;
    height: 1cm;
}
.sidebar .tabs .tab {
    display: inline-block;
    background: white;
    border-right: 2px solid hsl(220, 50%, 80%);
    border-top-left-radius:  10px;
    border-top-right-radius: 10px;
    padding: .075cm .4cm;
    margin: .2cm .25cm 0 0;
    font-size: 18pt;
}
    .sidebar .tabs .tab:hover {
        background: hsl(212, 90%, 90%);
        cursor: pointer;
    }
    .sidebar .tabs .tab.active {
        background: hsl(212, 80%, 50%);
        color: white;
    }

.sidebar .tabc {
    background: hsl(220, 90%, 85%);
    padding: .2cm .2cm 0 .2cm;
    display: none;
    position: absolute;
    left: .2cm;
    right: 0;
    top: 1.1cm;
    bottom: 0;
    overflow: auto;
}
    .sidebar .tabc.active {
        display: block;
    }

    .sidebar .tabc section {
        background: hsl(220, 50%, 95%);
        padding: .1cm;
        margin-bottom: .2cm;
        overflow: auto;
    }

        .sidebar .tabc section > .label {
            background: hsl(220, 70%, 50%);
            color: white;
            font-weight: bold;
            padding: .1cm .2cm;
        }

        .sidebar .tabc section > div > .label {
            background: hsl(220, 70%, 85%);
            font-weight: bold;
            font-size: 12pt;
            padding: .1cm .2cm;
        }

.sidebar button {
    background: white;
    border: 2px solid black;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

    .sidebar button:hover {
        background: hsl(212, 90%, 90%);
    }

    .sidebar button:focus {
        background: hsl(225, 90%, 90%);
        outline: none;
    }

.sidebar input[type="text"], .sidebar textarea, .sidebar select {
    width: 100%;
}

    .sidebar #puzzle-title-input {
        font-size: 16pt;
        font-weight: bold;
    }

.sidebar #puzzle-rules-input {
    height: 5cm;
}

.sidebar #givens {
    text-align: center;
}

    .sidebar .given-btn {
        margin: .3cm .05cm .2cm;
        display: inline-block;
        width: 1cm;
        height: 1cm;
        font-size: 18pt;
    }

.sidebar #constraint-code-section {
    display: none;
}

    .sidebar #constraint-code-section textarea {
        font-size: 10pt;
        height: 2cm;
    }

.sidebar #constraint-list {
    border: 1px solid black;
    background: white;
    margin-top: .1cm;
}
.sidebar .constraint {
    font-size: 12pt;
    padding: .1cm .1cm .1cm .6cm;
    position: relative;
}
    .sidebar .constraint > .name {
        cursor: pointer;
    }
.sidebar .constraint:not(:last-child) {
    border-bottom: 1px solid black;
}
    .sidebar .constraint.selected {
        background: hsl(220, 90%, 60%);
        color: white;
    }
    .sidebar .constraint .variables {
        display: none;
        color: black;
        margin-top: .1cm;
    }
        .sidebar .constraint.expanded .variables {
            display: table;
        }
    .sidebar .constraint .expand {
        position: absolute;
        width: .5cm;
        height: .5cm;
        left: .1cm;
        top: .1cm;
        background:
        url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path d="M3 2 6 5 3 8z" opacity=".3" /></svg>');
    }
        .sidebar .constraint.expanded .expand {
            background-image:
        url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path d="M7 4 4 7 1 4z" opacity=".3" /></svg>');
        }

    .sidebar .constraint .variables .variable {
        display: table-row;
    }

        .sidebar .constraint .variables .variable > div {
            display: table-cell;
            padding: .05cm .3cm;
        }

        .sidebar .constraint .variables .variable .name {
            font-weight: bold;
            background: white;
        }

        .sidebar .constraint .variables .variable .value {
            background: hsl(220, 80%, 95%);
        }

    .sidebar .constraint .mini-btn {
        display: inline-block;
        background: white;
        border: 1px solid #444;
        border-radius: .15cm;
        width: 20px;
        height: 20px;
        margin-right: .1cm;
        vertical-align: bottom;
        cursor: pointer;
    }
        .sidebar .constraint .mini-btn:focus {
            border: 2px solid #46f;
            outline: none;
        }
        .sidebar .constraint .mini-btn.show {
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M 40 5 L 10.09375 35 L 40 65 L 40 44.708984 C 73.379622 44.022868 83.374266 48.868838 65.09375 90 L 80.09375 90 C 98.976958 33.350377 93.159505 23.925067 40 24.757812 L 40 5 z" fill="%23507fcb" /></svg>');
        }
        .sidebar .constraint .mini-btn.set {
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M 95,60.09375 65,90 35,60.09375 H 55.291016 C 55.977132,26.714128 51.131162,16.719484 9.9999996,35 V 20 C 66.649623,1.1167916 76.074933,6.9342446 75.242188,60.09375 Z" fill="%232fa639" /></svg>');
            text-align: left;
            text-shadow: 0 0 3px white;
            font-weight: bold;
            font-size: 9pt;
            padding: 5px 0 0 1px;
        }

        .sidebar .constraint .mini-btn.edit-code {
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M 63,10 28,45 h 8 L 52,29 V 25 L 65,12 h 8 L 21,64 36,79 90,25 75,10 Z M 17,68 10,90 32,83 Z" fill="%233274e7" /></svg>');
        }

    .sidebar .constraint .buttons {
        float: right;
        line-height: 0;
    }

.sidebar #constraint-add-section {
    font-size: 12pt;
}
    .sidebar #constraint-add-section .main {
        padding: 0 .25cm;
    }
        .sidebar #constraint-add-section .main ul {
            padding: 0 0 0 1em;
        }

        .sidebar #constraint-add-section .main p {
            font-weight: bold;
        }

        .sidebar #constraint-add-section .main table {
            border-spacing: .05cm;
            width: 100%;
        }
            .sidebar #constraint-add-section .main th {
                text-align: center;
                background: hsl(220, 80%, 80%);
                padding: .05cm .25cm;
            }
            .sidebar #constraint-add-section .main td {
                background: white;
                padding: .05cm .25cm;
            }
        .sidebar #constraint-add-section .main hr {
            border: none;
            border-bottom: 1px solid hsl(220, 40%, 60%);
        }

.sidebar .save-section {
    text-align: center;
    font-size: 18pt;
    padding: .3cm 0 .2cm 0;
}
    .sidebar .save-section button {
        padding: .1cm .4cm;
        margin: 0 .1cm;
    }
    .sidebar .save-section div {
        display: none;
    }
    .sidebar .save-section.saving button {
        display: none;
    }
    .sidebar .save-section.saving div {
        display: block;
    }

